body {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
  }

  #start-screen{
    background-image: url(/UnoGame/images/STACK-EM-BACKGROUND.jpg);
    background-size: contain;
    background-position: center, center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  #logo{
    display: block;
    height: 40vw;
    width: 40vw;
    margin: -20px auto;
  }

  #game-screen{
   display: flex;
   justify-content: center;
   align-content: center;
   height: 100vh;
   width: 100vh;
   padding: 20px 0px;
   overflow: hidden;
   position: relative;
   background-size: cover;
  }

  #discard-pile {
    width: 100px;
    height: 150px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bold;
    background-color: gray;
    margin: 10px auto;

  }

  #played-card{
    display: block;
    color: white;
    font-weight: bold;
  
  }
  

#win{
  display: none;
}
#lose{
  display: none;}