body {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
  }

  #start-screen{
    background-image: url(../Images/STACK-EM-BACKGROUND.jpg);
    background-size: cover;
    background-position: 0, 0;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
  }

  #game-screen{
   display: none;
   align-content: center;
   padding: 20px 0px;
   overflow: hidden;
   position: relative;
   background-size: cover;
  }

#win{
  display: none;
}
#lose{
  display: none;}